html {
  height: 100%;
}
body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-image: url("../img/back2.png");
  height: 100% !important;
  background-repeat:cover;  
  background-size:cover;
  min-height: 100%;
}

p{
  margin: 0;
  font-family: Arial;
}
hr{
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.70;
}

.footer{
  font-size:8px;
  bottom:0px;
  position:absolute;
}

.telephone{
 font-size: 40px;
 color:#488aff;;
}

.telephoneRed{
  font-size: 25px;
  color:red;
 }

.navbar{
  background-color: red;
}

.colorTexto{
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
}

.textColorTelephone{
  color: red;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
}

.arrow-icon{
  color: white;
  font-size: 25px;
}

.bi-hover-bold{
  -webkit-text-stroke: 1px;
}

.logo-login{
  height: 120px;
  width: 290px;
  border-radius: 13px;
}

.dispositivoSinConexion{
  background-color: white;
  display: inline;
}

.spinnerDisplay{
  display:  none !important;
  height: 100%; 
  max-height: 100%;
}

.imagen{
  filter:brightness(1.3);
  mix-blend-mode: multiply;
  border-image: round !important;
  border-radius: 30px !important;
}

.imagen2{
  filter:brightness(1.4);
  border-image: round !important;
  border-radius: 30px !important;
}